<div class="card z-depth-3">
  <div class="card-content"> 
    <div class="col">     
        <p id="notice"><%= notice %></p>
        <%= link_to new_video_path, :class => 'btn-floating btn-large waves-effect waves-light red' do %>
          <i class="fa fa-plus-square"></i>
        <% end %>
        <ul class="collapsible" data-collapsible="accordion">
          <% @videos.each do |video| %>
            <li>
              <div class="collapsible-header">
                <i class="fa fa-book"></i>
                <%= link_to video.title, video %>
                <span class="right">
                  <%= link_to edit_video_path(video) do %>
                    <i class="fa fa-pencil fa-fw"></i>
                  <% end %>
                  <%= link_to video, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash-o fa-fw"></i>
                  <% end %>
                </span>
              </div>
              <div class="collapsible-body"><p> <%= video.description %></p></div>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
