<div class="card z-depth-3">
	<div class="card-content white-text">	
		<div class="col">
			<div class="card-panel grey lighten-5 z-depth-1">
				<p id="notice"><%= notice %></p>
				<p>
				  <strong>Wistia:</strong>
				  <%= @video.wistia %>
				</p>
				<p>
				  <strong>Description:</strong>
				  <%= @video.description %>
				</p>
			<%= link_to 'Edit', edit_video_path(@video) %> |
			<%= link_to 'Back', videos_path %>
			</div>
		</div>
	</div>
</div>
